<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Guess Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16D0D6C71E0C46D5006387A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D0D6DB1E0C46D5006387A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D0D6E61E0C46D5006387A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
