<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Menu Bars.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>169726A61E0CD1F90044C3A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>169726BA1E0CD1FA0044C3A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>169726C51E0CD1FA0044C3A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
