<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Timer Table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16B53F871E0DD5EB00B7DCFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16B53F9B1E0DD5EB00B7DCFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16B53FA61E0DD5EB00B7DCFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
